body{
    font-family:  monospace;
    font-size: 28pt;
    background-image: url(../img/bckgrnd.jpg);
    background-size: cover;
    color: white;
}
.background {
    background-color: black;
    opacity: 80%;
}
.start{
    height: auto;
    position: absolute;
}
.title{
    font-weight: bold;
    margin: 40px;
    text-align: center;
}
h2{
    font-size: 18pt;
    font-weight: bold;
    margin: 15px;
    text-align: center;
}
br{
    display: block;
    margin-top: 10px;
    content: "";
}
.about{
    text-align: center;
    font-size: 14pt;
    margin: 15px;
}

.menu{
    padding-top: 15px;
    margin: 0 auto;
}





.form_wrapper select {
    font-size: 14pt;
    padding: 4px 25px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.form_wrapper .button{
    margin: 35px 10px;
}


.styled-table {
    
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    font-size: 14pt;

    width: 100%;
    min-width: 400px;
}


.styled-table th
{
    padding: 12px 15px;
}
